@import 'style/variables';

.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #db8318;

  &__container {
    display: flex;
    justify-content: space-between;
    
    &.Section {
      padding: 20px 20px;
    }
  }

  &__logo {
    font-size: 24px;
    color: $white;
  }

  &__nav {
    justify-content: flex-end;
    max-width: 40%;
  }
}
